@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-color: cadetblue;
}

.chatPageBox
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 91.5vh;
  padding: 10px;
}